arm_id: "ARM001"
cloud_host: "127.0.0.1"
cloud_port: 6000
control_host: 192.168.178.19
control_port: 8000
arm_radius: 1500
rotation_range_as_deg: 130
rotation_range_as_pw: 1400
dist_min_as_pw: 1100
dist_max_as_pw: 2000
